name: Publish packages

on:
  push:
    tags:
      - '*'

env:
  NPM_REGISTRY: npm.dotdevio.com

  # Slack
  SLACK_ICON: https://github.com/dotdevq.png?size=48
  SLACK_USERNAME: 'GitHub CI'
  SLACK_MESSAGE: '@dotdevjs/reactpkg Published :rocket:'
  SLACK_TITLE: '@dotdevjs/reactpkg'

jobs:
  publish:
    runs-on: ubuntu-latest

    container:
      image: node:16-alpine

    steps:
      - uses: actions/checkout@v2
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            ~/.npm
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
      - run: echo //${NPM_REGISTRY}/:_authToken=${NPM_TOKEN} > .npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm i -g @nrwl/cli@^12
      - run: npm ci
      - run: nx affected:build --all --production
      - run: npm run lerna -- publish from-package --contents dist -y

      - name: Slack Notification
        uses: 'rtCamp/action-slack-notify@v2'
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_ICON: ${{ env.SLACK_ICON }}
          SLACK_USERNAME: ${{ env.SLACK_USERNAME }}
          SLACK_MESSAGE: ${{ env.SLACK_MESSAGE }}
          SLACK_TITLE: ${{ env.SLACK_TITLE }}
